GIGACHAT_AUTH_TOKEN=
TELEGRAM_BOT_TOKEN=
CONNECTION_STRING=Host=postgres;Database=tasks;Username=postgres;Password=postgres
SPEECH_PROCESSING_SERVICE_URI=http://speech-processing-service:8080/api/speech/Audio/process
JWT_SECRET=
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
OAUTH_REDIRECT_URI=http://localhost:3000/api/v1/oauth/yandex/callback
SWAGGER_PREFIX=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
