services:
    task-manager:
        build: 
            context: ../TaskManager
            dockerfile: TaskManager/Dockerfile
        ports:
          - "3000:8080"
        environment:
          - ConnectionStrings__DefaultConnection=${CONNECTION_STRING}
          - TelegramBot__AuthToken=${TELEGRAM_BOT_TOKEN}
          - SpeechProcessingConfig__APIURI=${SPEECH_PROCESSING_SERVICE_URI}
          - ASPNETCORE_ENVIRONMENT=Development
          - JwtSettings__Secret=${JWT_SECRET}
        networks:
          - backend-network
        healthcheck:
          test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
          interval: 30s
          timeout: 10s
          retries: 3
        depends_on:
          postgres:
            condition: service_healthy
    speech-processing-service:
        build: 
            context: ../SpeechProcessingService
            dockerfile: SpeechProcessingService/Dockerfile
        ports:
          - "3001:8080"
        environment:
          - GigaChatCredentials__AuthToken=${GIGACHAT_AUTH_TOKEN}
        networks:
          - backend-network
        healthcheck:
          test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
          interval: 30s
          timeout: 10s
          retries: 3
    postgres:
        image: postgres:17
        environment:
          POSTGRES_DB: tasks
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 5s
            timeout: 5s
            retries: 5
        networks:
          - backend-network
    prometheus:
        image: prom/prometheus:v3.9.1
        volumes:
            - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
        ports:
            - "9090:9090"
        depends_on:
            - task-manager
        networks:
          - backend-network
        profiles:
          - dev
    graphana:
        image: grafana/grafana:12.3.1-security-01-ubuntu
        ports:
            - "3002:3000"
        environment:
            - GF_SECURITY_ADMIN_PASSWORD=admin
        depends_on:
            - prometheus
        networks:
          - backend-network
        profiles:
          - dev
    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:9.2.4
        container_name: elasticsearch
        environment:
          - xpack.security.enabled=false
          - discovery.type=single-node
          - ES_JAVA_OPTS=-Xms512m -Xmx512m
        ports:
          - "9200:9200"
        networks:
          - backend-network
        profiles:
          - dev
    kibana:
        image: docker.elastic.co/kibana/kibana:9.2.4
        container_name: kibana
        environment:
          - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
        ports:
          - "5601:5601"
        depends_on:
          - elasticsearch
        networks:
          - backend-network
        profiles:
          - dev


networks:
  backend-network:
    driver: bridge