services:
    task-manager:
        build: 
            context: ../TaskManager
            dockerfile: TaskManager/Dockerfile
        ports:
          - "3000:8080"
        environment:
          - ConnectionStrings__DefaultConnection=${CONNECTION_STRING}
          - TelegramBot__AuthToken=${TELEGRAM_BOT_TOKEN}
          - SpeechProcessingConfig__APIURI=${SPEECH_PROCESSING_SERVICE_URI}
          - ASPNETCORE_ENVIRONMENT=Development
          - JwtSettings__Secret=${JWT_SECRET}
        networks:
          - backend-network
        healthcheck:
          test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
          interval: 30s
          timeout: 10s
          retries: 3
        depends_on:
          postgres:
            condition: service_healthy
    speech-processing-service:
        build: 
            context: ../SpeechProcessingService
            dockerfile: SpeechProcessingService/Dockerfile
        ports:
          - "3001:8080"
        environment:
          - GigaChatCredentials__AuthToken=${GIGACHAT_AUTH_TOKEN}
        networks:
          - backend-network
        healthcheck:
          test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
          interval: 30s
          timeout: 10s
          retries: 3
    postgres:
        image: postgres:latest
        environment:
          POSTGRES_DB: tasks
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        volumes:
         - postgres_tasks_data:/var/lib/postgresql/data
        ports:
          - "5432:5432"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 5s
            timeout: 5s
            retries: 5
        networks:
          - backend-network

volumes:
  postgres_tasks_data:

networks:
  backend-network:
    driver: bridge